.texto{

}
background-color:azul;
.h2{
    font-family: ;
    font-size:28px ;
    color:black;
}
.texto-inicial{
    font-size: 24px;
    color: black;
}
.texto-fonte{
    font-size: 18px;
    color: black;
}
.foto{
    width: 30% 30% 30%;
}